# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# 本地临时文件
*.log

# PyInstaller 打包产物
build/
dist/
dist-debug/
build-debug/
!/DesktopAgent.spec
!/DesktopAgentDebug.spec

